html {
  height: 100%;
}

body {
  height: 100%;
  color: #3f1315;
}

div.menu {
  position: fixed;
  align: center;
  width: 70%
  height: 20px;
  top: 5px;
  right: 15%;
  left: 15%;
  background-color: white;
}

div.button {
  padding-top: 1px;
  padding-bottom: 1px;
  width: 33%;
  float: left;
  text-align: center;
  border: 2px solid #3f1315;
  margin: -1px;
}

div.endmenu {
  clear: both;
}

div.slide {
  height: 100%;
  border-width: 0px;
  border-style: solid;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

h1.massive {
  font-size: 800%;
}

p {
  font-family: 'Ubuntu', sans-serif;
}
