html {
  height: 100%;
}

body {
  height: 100%;
  color: #3f1315;
}

div.slide {
  height: 100%;
  border-width: 1px;
  border-style: solid;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

h1.massive {
  font-size: 800%;
}

p {
  font-family: 'Ubuntu', sans-serif;
}

