html {
  height: 100%;
}

body {
  height: 100%;
  color: #1f2442;
}

div.menu {
  position: fixed;
  align: center;
  width: 100%;
  top: 1%;
  margin-right: -3px;
  margin-left: -1px;
}

div.button {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 25%;
  float: left;
  text-align: center;
  border: none;
  background-color: #1f2442;
}

div.button:hover {
  background-color: #1f2451;
}

a.button {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-family: arial;
  font-weight: bold;
}

div.endmenu {
  clear: both;
}

div.slide {
  height: 99%;
  border-width: 0px;
  margin-top: 1%;
  border-style: solid;
}

img.logo {
  margin: 15% 35% 25% 35%;
  height: 60%;
  width: 30%;
}

div#about {
  background-image: url('/images/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

div#team {
  background-image: url('/images/backgroundtilelite.png');
}

div.rightteam {
  float: right;
  width: 20%;
  margin-top: 5%;
}

h1.teamheader {
  font-size: 500%;
}

div#teaminfo {
  float:left;
  margin-left:1%;
  margin-right: 1%;
}

table {
  margin-left: 5%;
  margin-right: 1%;
  width: 50%;
}

div.right {
  width: 50%;
  float: right;
  text-align: right;
  margin-right: 5%;
}

div.left {
  text-align: left;
  width: 50%;
  float: left;
  margin-left: 5%;
}

div.blurb {

}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-style: bold;
}

h1.massive {
  font-size: 800%;
  margin-top:5%;
}

p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 200%;
}

td {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

.photo {
  padding; 10%;
  }

.desc {
  height:30%;
  width:30%;
}

tr {
  height: 20px;
}

div#contact {
  background-image: url('/images/backgroundtile2.png');
}

h1.contactheader {
  font-size: 700%;
}