body{
  font-family: 'Ubuntu', sans-serif;
  margin: auto;
  width: 100%;
  text-align: center;
  background-image: url('/images/backgroundtilelite.png');
}

div.igloo {
  padding-top: 10px;
  padding-bottom: 10px;
	padding-left: 10px;
  width: 100%;
  float: left;
  text-align: left;
  border: none;
  background-color: #1f2442;
}

a.button {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-family: arial;
  font-weight: bold;
}

div.endmenu {
  clear: both;
}

div#middle{
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 100%;
  background-color: rgba( 255,255,255,0.75 );
}

div.padder-l{
  height: 15%;
}

div.padder-s{
  height: 2.5%;
}

div.link{
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  display: inline-block;
}

div.link p{
  background-color: #1f2442;
  color: white;
  display: block;
  padding-top: 5%;
  padding-bottom: 5%;
}

img#logo{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  size: 200%;
}